.card.card-authentication
  .card-header
    Log in
  .card-body
    = render partial: 'shared/flash_notifications'
    = form_tag login_path do
      .form-group
        .input-group
          .input-group-prepend
            .input-group-text
              %i.fas.fa-user
          = text_field_tag :email, '', class: 'form-control', placeholder: 'Email'
      .form-group
        .input-group
          .input-group-prepend
            .input-group-text
              %i.fas.fa-key
          = password_field_tag :password, '', class: 'form-control', placeholder: 'Password'
      .form-check
        = check_box_tag :remember_me, '1', false, class: 'form-check-input'
        = label_tag :remember_me, 'Remember me', class: 'form-check-label'
      = submit_tag 'Log in', class: 'btn btn-primary'
    %hr
    .text-center
      = link_to 'register', registration_path
      |
      = link_to 'restore password', reset_password_path
