<h1>Registration</h1>

<% @user.errors.full_messages.each do |msg| %>
  <%= msg %>
  <br>
<% end %>

<%= form_with model: @user, url: signup_path do |form| %>
  <%= form.email_field :email, required: true, autofocus: true, autocomplete: 'email', placeholder: 'Email address' %>
  <br>
  <%= form.password_field :password, required: true, autocomplete: 'new-password', placeholder: 'Password' %>
  <br>
  <%= form.password_field :password_confirmation, required: true, autocomplete: 'new-password', placeholder: 'Password confirmation' %>
  <br>
  <%= form.submit 'Register' %>
<% end %>
