%h1 Sign In

= tag.div(flash[:alert], style: "color:red") if flash[:alert]
= tag.div(flash[:notice], style: "color:green") if flash[:notice]

= form_with url: sign_in_path do |form|
  = form.email_field :email, required: true, autofocus: true, autocomplete: "username", placeholder: "Email address", value: params[:email]
  %br
  = form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Password", maxlength: 72
  %br
  = form.submit "Sign in"

%br
= link_to 'Create account', signup_path
%br
= link_to "Forgot password?", password_reset_path
%br
= link_to 'Request activation link', request_activation_link_signup_path
