<h1 class="font-semibold text-xl text-gray-700 pb-4">Files</h1>

<div class="flex items-start gap-4">
  <div class="card w-3/4">
    <table class="w-full text-left table-auto">
      <thead>
      <tr class="border-b border-slate-300 bg-slate-50 text-slate-500">
        <th class="w-auto whitespace-nowrap p-2 pr-6 text-sm font-normal leading-none">ID</th>
        <th class="w-full p-2 pr-6 text-sm font-normal leading-none">Name</th>
        <th class="w-auto whitespace-nowrap p-2 text-sm font-normal leading-none text-center">Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @user_files.each do |user_file| %>
        <tr class="border-b border-slate-200">
          <td class="w-auto whitespace-nowrap p-2 pr-6">
            <%= user_file.id %>
          </td>
          <td class="w-full p-2 pr-6">
            <%= user_file.attachment.original_filename %>
            <% if user_file.processing? %>
              <span data-controller="shared--tooltip" data-shared--tooltip-content-value="Processing...">
                <i class="fa-solid fa-spinner animate-spin fa-sm"></i>
              </span>
            <% end %>
          </td>
          <td class="w-auto whitespace-nowrap p-2">
            <%= render Files::ActionButtonsComponent.new(user_file:) %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <div class="flex justify-center pt-4">
      <%== pagy_nav(@pagy) %>
    </div>
  </div>

  <div class="card w-1/4">
    <!-- `files_path` is correct here, as Uppy always adds hard-coded `s3/params` to the specified url -->
    <div data-controller="user-files"
         data-user-files-presign-url-value="<%= files_path %>"
         data-user-files-max-file-size-value="<%= UserFile::MAX_FILE_SIZE %>"
         data-user-files-allowed-mime-types-value="<%= JSON.generate(UserFile::SUPPORTED_MIME_TYPES) %>">
      <%= form_with url: files_path, data: {user_files_target: 'submitForm'} do |form| %>
        <%= form.hidden_field :file, data: {user_files_target: 'submitFormInput'} %>
      <% end %>

      <div id="upload_dropzone"></div>
      <div id="status_bar"></div>
    </div>
  </div>
</div>
