<h1 class="font-semibold text-xl text-gray-700 pb-4">Documents</h1>

<div class="flex items-start gap-4">
  <div class="card w-3/4">
    <table class="w-full text-left table-auto min-w-max">
      <thead>
      <tr class="border-b border-slate-300 bg-slate-50">
        <th class="p-2 text-sm font-normal leading-none text-slate-500">ID</th>
        <th class="p-2 text-sm font-normal leading-none text-slate-500">Preview</th>
        <th class="p-2 text-sm font-normal leading-none text-slate-500">Name</th>
        <th class="p-2 text-sm font-normal leading-none text-slate-500">Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @documents.each do |document| %>
        <tr>
          <td class="p-2 border-b border-slate-200">
            <%= document.id %>
          </td>
          <td class="p-2 border-b border-slate-200">
            <%= image_tag document.file_url(:thumb), class: 'h-10 max-w-30' %>
          </td>
          <td class="p-2 border-b border-slate-200">
            <%= document.file.metadata['filename'] %>
          </td>
          <td class="p-2 border-b border-slate-200">
            <%= link_to 'Download', download_document_path(document), class: 'text-indigo-600 hover:text-gray-900',
                        target: '_blank', data: { turbo_prefetch: false }%>
            |
            <%= link_to 'Delete', document_path(document), class: 'text-indigo-600 hover:text-gray-900',
                        data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }%>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <div class="flex justify-center pt-4">
      <%== pagy_nav(@pagy) %>
    </div>
  </div>

  <div class="card w-1/4">
    <!-- `documents_path` is correct here, as Uppy always adds hard-coded `s3/params` to the specified url -->
    <div data-controller="documents" data-documents-presign-url-value="<%= documents_path %>">
      <%= form_with url: documents_path, data: {documents_target: 'submitForm'} do |form| %>
        <%= form.hidden_field :file, data: {documents_target: 'submitFormInput'} %>
      <% end %>

      <div id="upload_dropzone"></div>
      <div id="status_bar"></div>
    </div>
  </div>
</div>
