<h1 class="font-semibold text-xl text-gray-700 pb-4">Profile</h1>

<div class="flex flex-row gap-4 md:flex-wrap lg:flex-nowrap">
  <div class="card lg:basis-1/2 md:basis-full">
    <h3 class="pb-4">Email</h3>
    <input type="text" name="current_email" disabled value="<%= Current.user.email %>"
           class="w-full bg-gray-100 rounded border border-gray-300 text-base outline-none text-gray-700 py-1 px-3 leading-8">
  </div>

  <div class="card lg:basis-1/2 md:basis-full">
    <h3 class="pb-4">Change Password</h3>

    <div class="mb-2">
      <%= render FlashMessagesComponent.new(flash:) %>
    </div>

    <%= form_with url: profile_path, method: :put do |form| %>
      <div class="mb-4">
        <%= form.label :current_password, class: 'leading-7 text-sm text-gray-600' %>
        <%= form.password_field :current_password, required: true, autocomplete: 'current-password', maxlength: 72,
                                class: 'input-field' %>
      </div>
      <div class="mb-4">
        <%= form.label :password, 'New password', class: 'leading-7 text-sm text-gray-600' %>
        <%= form.password_field :password, required: true, autocomplete: 'new-password', maxlength: 72,
                                class: 'input-field' %>
      </div>
      <div class="mb-4">
        <%= form.label :password_confirmation, 'New password confirmation', class: 'leading-7 text-sm text-gray-600' %>
        <%= form.password_field :password_confirmation, required: true, autocomplete: 'new-password', maxlength: 72,
                                class: 'input-field' %>
      </div>
      <%= form.submit 'Save', class: 'button' %>
    <% end %>
  </div>
</div>
