%nav.navbar.navbar-default.navbar-static-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{type: 'button', aria: {controls: 'navbar', expanded: 'false'},
          data: {target: '#navbar', toggle: 'collapse'}}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Base App', root_path, class: 'navbar-brand'
    #navbar.navbar-collapse.collapse
      - if current_user
        = render partial: 'layouts/navigation/user'
        = render partial: 'layouts/navigation/user_right'
      - else
        = render partial: 'layouts/navigation/general'
        = render partial: 'layouts/navigation/general_right'
