%nav.navbar.navbar-expand-md.navbar-light.bg-light
  .container
    .navbar-header
      = link_to 'Base App', root_path, class: 'navbar-brand'
      %button.navbar-toggler.collapsed{type: 'button', aria: {controls: 'navbar', expanded: 'false'},
          data: {target: '#navbar', toggle: 'collapse'}}
        %span.navbar-toggler-icon

    #navbar.navbar-collapse.collapse
      - if current_user
        = render partial: 'layouts/navigation/user'
        = render partial: 'layouts/navigation/user_right'
      - else
        = render partial: 'layouts/navigation/general'
        = render partial: 'layouts/navigation/general_right'
