<!DOCTYPE html>
<html lang="en">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <title><%= content_for(:title) || "Base App Admin" %></title>
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="yes" name="mobile-web-app-capable">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= vite_client_tag %>
  <%= action_cable_with_jwt_meta_tag(current_admin: Current.admin_user) %>
  <%= yield :head %>
  <link href="/icon.png" rel="icon" type="image/png">
  <link href="/icon.png" rel="apple-touch-icon">
  <%= vite_javascript_tag 'application' %>
  <%= vite_stylesheet_tag 'application' %>
</head>
<body class="min-h-screen flex flex-col bg-gray-100">
  <%= render LayoutHeaderComponent.new(logo_url: admin_dashboard_path) do |layout_component| %>
    <%= navigation_link 'Dashboard', admin_dashboard_path %>

    <% layout_component.with_dropdown do %>
      <%= render DropdownComponent.new(align: :right) do |component| %>
        <% component.with_title do %>
          <%= Current.admin_user.email %>
        <% end %>

        <%= render DropdownElementComponent.new(url: admin_sign_in_path, title: 'Sign out', icon: 'fa-solid fa-right-from-bracket',
                                                data: { turbo_method: :delete }) %>
      <% end %>
    <% end %>
  <% end %>

  <div class="container mx-auto p-5 flex-grow flex flex-col">
    <%= yield %>
  </div>
</body>
</html>
