<!DOCTYPE html>
<html lang="en">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <title><%= content_for(:title) || "Base App" %></title>
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="yes" name="mobile-web-app-capable">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= vite_client_tag %>
  <%= action_cable_with_jwt_meta_tag(current_user: Current.user) %>
  <%= yield :head %>
  <link href="/icon.png" rel="icon" type="image/png">
  <link href="/icon.png" rel="apple-touch-icon">
  <%= vite_javascript_tag 'application' %>
  <%= vite_stylesheet_tag 'application' %>
</head>
<body class="min-h-screen flex flex-col bg-gray-100">
  <header class="text-gray-600 body-font border-b border-gray-200 bg-white">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" href="<%= dashboard_path %>">
        <%= vite_image_tag 'images/logo.png', class: 'h-6' %>
      </a>
      <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
        <%= navigation_link 'Dashboard', dashboard_path %>
        <%= navigation_link 'Chat', chat_path, options: { simple: true }, link_options: { data: { turbo_prefetch: false } } %>
        <%= navigation_link 'Documents', documents_path %>
      </nav>
      <%= render DropdownComponent.new(align: :right) do |component| %>
        <% component.with_title do %>
          <%= Current.user.email %>
        <% end %>

        <%= render DropdownElementComponent.new(url: profile_path, title: 'Profile', icon: 'fa-solid fa-user') %>
        <%= render DropdownElementComponent.new(url: :separator) %>
        <%= render DropdownElementComponent.new(url: sign_in_path, title: 'Sign out', icon: 'fa-solid fa-right-from-bracket',
                                                data: { turbo_method: :delete }) %>
      <% end %>
    </div>
  </header>

  <div class="container mx-auto p-5 flex-grow flex flex-col">
    <%= yield %>
  </div>
</body>
</html>
